body,
html {
  display: flex;
  padding: 0;
  /*     background: radial-gradient(circle at 50% 0%, #9588c7 15%, #c79ed5 75%); */
  background-image: radial-gradient(
    circle at 50% 0%,
    rgb(107, 94, 114) 16.4%,
    rgb(87, 88, 107) 68.2%, 
    rgb(67, 63, 76) 99.1%   
  );
}