<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0HE7569ZVP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-0HE7569ZVP');
  </script>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <!-- <link rel="manifest" href="/site.webmanifest"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
  <title>
    <%= jsonData.title %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <script>
    (function () {
      var src = "//cdn.jsdelivr.net/npm/eruda";
      if (
        !/eruda=true/.test(window.location) &&
        localStorage.getItem("active-eruda") != "true"
      )
        return;
      document.write("<scr" + 'ipt src="' + src + '"></scr' + "ipt>");
      document.write("<scr" + "ipt>eruda.init();</scr" + "ipt>");
    })();
  </script>

  <script src="//unpkg.com/navigo"></script>
</head>

<body>
  <%- include('partials/story', { jsonData }) %>
</body>

</html>